Lite/Service References/ServiceGestionCuentas/WsGestionaInfoCuentas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:complexType name="WsGestionaInfoCuentas-RQ-Type">
    <nca:sequence>
      <nca:element name="id_caja" nillable="true" type="nca:string" />
      <nca:element name="cuenta" nillable="true" type="nca:string" />
      <nca:element name="operacion" nillable="true" type="nca:string" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="WsGestionaInfoCuentas-RQ" type="tns:WsGestionaInfoCuentas-RQ-Type" />
</nca:schema>