Lite/Service References/ServiceEliminaProspecto/WsEliminaUbicacionProspectoFV32.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:complexType name="wsEliminaUbicacionProspectoFV-RQ-Type">
    <nca:sequence>
      <nca:element name="idSw" nillable="true" type="nca:string" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="wsEliminaUbicacionProspectoFV-RQ" type="tns:wsEliminaUbicacionProspectoFV-RQ-Type" />
</nca:schema>