Lite/Service References/ServiceEliminaProspecto/WsEliminaUbicacionProspectoFV31.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:include schemaLocation="WsEliminaUbicacionProspectoFV?xsd=GisCommonTypeSchema.xsd" />
  <nca:complexType name="InfoProspecto">
    <nca:sequence>
      <nca:element minOccurs="0" name="estado" type="nca:string" />
      <nca:element name="Detalle_Respuesta" type="tns:detallerespuestatype" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="wsEliminaUbicacionProspectoFV-RS" type="tns:InfoProspecto" />
</nca:schema>