Lite/Service References/ServiceGestionPuertos/WsGestionaInfoPuertos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:complexType name="WsGestionaInfoPuertos-RQ-Type">
    <nca:sequence>
      <nca:element name="id_caja" nillable="true" type="nca:string" />
      <nca:element name="nombre" nillable="true" type="nca:string" />
      <nca:element name="puertos_totales" nillable="true" type="nca:string" />
      <nca:element name="puertos_ocupados" nillable="true" type="nca:string" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="WsGestionaInfoPuertos-RQ" type="tns:WsGestionaInfoPuertos-RQ-Type" />
</nca:schema>