Lite/Service References/ServiceFactibilidadEmpresarial/WsFactibilidadEmpresarial1.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:include schemaLocation="WsFactibilidadEmpresarial?xsd=GisCommonTypeSchema.xsd" />
  <nca:complexType name="wsFactibilidadEmpresarial-RS-Type">
    <nca:sequence>
      <nca:element name="factibilidad" type="nca:string" />
      <nca:element name="comentario" type="nca:string" />
      <nca:element name="domicilio" type="nca:string" />
      <nca:element name="cluster_totalplay" type="nca:string" />
      <nca:element name="region_enlace" type="nca:string" />
      <nca:element name="ciudad_enlace" type="nca:string" />
      <nca:element name="distrito_enlace" type="nca:string" />
      <nca:element name="buffer_enlace" type="nca:string" />
      <nca:element name="detalleRespuesta" type="tns:detalleRespuestaType" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="wsFactibilidadEmpresarial-RS" type="tns:wsFactibilidadEmpresarial-RS-Type" />
</nca:schema>