Lite/Service References/ServiceFactibilidad1/WsCalculaFactibilidad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:include schemaLocation="WsCalculaFactibilidad?xsd=GisCommonTypeSchema.xsd" />
  <nca:complexType name="InfoFactibilidad">
    <nca:sequence>
      <nca:element minOccurs="0" name="factibilidad" type="nca:string" />
      <nca:element minOccurs="0" name="direccion" type="nca:string" />
      <nca:element minOccurs="0" name="porcentaje" type="nca:string" />
      <nca:element minOccurs="0" name="criterios" type="nca:string" />
      <nca:element minOccurs="0" name="comentarios" type="nca:string" />
      <nca:element minOccurs="0" name="nombre_cluster" type="nca:string" />
      <nca:element name="Detalle_Respuesta" type="tns:detallerespuestatype" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="wsCalculaFactibilidad-RS" type="tns:InfoFactibilidad" />
</nca:schema>