Lite/Service References/ServiceEliminaCliente/WsEliminaUbicacionClienteFV31.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:include schemaLocation="WsEliminaUbicacionClienteFV?xsd=GisCommonTypeSchema.xsd" />
  <nca:complexType name="InfoCliente">
    <nca:sequence>
      <nca:element minOccurs="0" name="estado" type="nca:string" />
      <nca:element name="Detalle_Respuesta" type="tns:detallerespuestatype" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="wsEliminaUbicacionClienteFV-RS" type="tns:InfoCliente" />
</nca:schema>