Lite/Service References/ServiceEliminaCliente/WsEliminaUbicacionClienteFV3.xsd

<?xml version="1.0" encoding="utf-8"?>
<nca:schema xmlns:tns="http://www.grr.net.fv/gis" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.grr.net.fv/gis" xmlns:nca="http://www.w3.org/2001/XMLSchema">
  <nca:complexType name="wsEliminaUbicacionClienteFV-RQ-Type">
    <nca:sequence>
      <nca:element name="numero_cuenta" nillable="true" type="nca:string" />
    </nca:sequence>
  </nca:complexType>
  <nca:element name="wsEliminaUbicacionClienteFV-RQ" type="tns:wsEliminaUbicacionClienteFV-RQ-Type" />
</nca:schema>